* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(145deg, #110511, #140614);
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid #190419 !important;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(145deg, #110511, #140614);
    box-shadow: 20px 20px 60px #180318, -20px -20px 60px #200520, inset 20px 20px 60px #180318, inset -20px -20px 60px #200520;
}

.loader:before {
    content: '';
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 25px;
    left: 25px;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #190419 !important;
    background: linear-gradient(145deg, #110511, #140614);
    box-shadow: 20px 20px 60px #180318, -20px -20px 60px #200520, inset 20px 20px 60px #180318, inset -20px -20px 60px #200520;
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    filter: blur(20px);
    animation: animate 0.5s linear infinite;
}

.container h4 {
    position: absolute;
    justify-self: flex-end;
    margin-top: 10%;
    bottom: 20%;
    color: white;
    font-family: Poppins, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: 50;
    font-size: medium;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}