.parent_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    padding-bottom: 25px;
}
.ri-icon{
  font-size: 22px;
  position: absolute;
  top: 11px;
  padding-left: 4px;
}
.gi-icon{
  font-size: 22px;
}
.header_button{
    font-size:15px;
    background-image: linear-gradient(to right, #dc2430, #7b4397 40%  );
    margin: 10px 0px;
    padding: 15px 32px 15px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    width: 100%;
    border: none;
    position: relative;
  }
  .dots_button{
    margin: 10px 0px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(white 0 0) padding-box, linear-gradient(to right, #fb3570, #9c20aa) border-box;
  }
  .searchResult{
    position: absolute;
    top: 65px;
    left: 150px;
    width: 4350px;
    font-size: 18px;
  }
  .header_clicks{
    display: flex;
    width: 240px;
    justify-content: space-between;
  }
  .search_input{
    padding: 12px;
    border-radius: 15px;
    width: 400px;
    margin-left: 30px;
    border: 1px solid darkgrey;
    font-size: 17px;
    position: relative;
  }
  .logo{
    font-size: 27px;
    
  }
  .search_icon{
    position: absolute;
    top: 30px;
    left: 505px;
    font-size: larger;

  }
  .Nav-Li{
    list-style: none;
    color: #000;
    font-size: 18px;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
border-radius: 15px;
  }
  .Nav-Li:hover{
color: #fff;
background-color: #000;
  }
  .nav_list{
position: absolute;
right: 120px;
top: -10px;
background-color:#fff;
display: flex;
flex-direction: row;
padding: 15px 20px;
  }
  .choose_upload{
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .choose_upload div{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
  }
 
  .Video_upload{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: fixed;
    width: 400px;
    height: 300px;
    top: calc((100% - 300px)/2);
    left:calc((100% - 400px)/2);
    z-index: 5;
    box-shadow: 0 0 10px rgb(0);
  }
  .active{
    border-bottom: 2px solid #000;
  }
  .Video_upload input{
width: 100%;
padding: 10px;
margin: 10px 0;
box-sizing: border-box;
  }
  .Video_upload button{
    font-size:15px;
    background-image: linear-gradient(to right, #dc2430, #7b4397 40%  );
    margin: 10px 0px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100%;
    border: 1px solid transparent;
  }
  .Video_upload h2{
    color: black;
  }
  .Upload_video-Overlay{
    position: fixed;
    z-index: 4;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.3;
  }