.container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Poppins, Helvetica, sans-serif;
    margin-bottom: 10%;
}

.container span {
    font-weight: 10;
    letter-spacing: 3px;
    font-size: 1.5rem;
    padding: 2px;

}

@media(max-width:760px) {
    .container h1 {
        font-size: x-large;
        margin-bottom: 20%;

    }

    .container span {
        font-size: medium;
    }
}
