.main-front-mask{
 width: 100%;
 height: 1000px;
 position: relative;
}
.main-front{
height: 100%;
width: 100%;
}
.mask-img{
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
object-fit: cover;
}
.main-front-mask::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0%;
left: 0;
background-color: #000;
opacity: 0.8;
}
.main-front .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.main-front .content h1{
    font-size: 60px;
    padding: 8px 24px;
}
.main-front .content p{
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
}
.content .btn{
    margin:15px 5px;
}
@media screen and(max-width:640px) {
    .main-front .content p{
        font-size: 22px;
        
    }
    .main-front .content h1{
        font-size: 45px;
    }
}

