.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

}
.logo{
color: purple;
font-size: 24px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signup_button{
    background: linear-gradient(white 0 0) padding-box, linear-gradient(to right, #fb3570, #9c20aa) border-box;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
}


.login_head{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    padding :15px;
    font-size:15px;
    width: 95%;
    border-radius: 20px;
    border: 1px solid lightgrey;
  }
  .input-data{
    padding: 5px 0px;
  }
  .login-form{
  text-align: center;
  }
  .forgot{
    width: 100%;
    text-align: right;
    color:  #fb3570;
  }
  .login_button{
        font-size:15px;
        background-image: linear-gradient(to right, #dc2430, #7b4397 40%  );
        margin: 10px 0px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        width: 100%;
        border: 1px solid transparent;
      }
      .error_message{
       color: red;
      }
      .foot{
        display: flex;
        justify-content: space-between;
        color: grey;
        margin-top: 135px;
    }
    .data_user{
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
    .termscondition{
    padding-right: 10px;
    }


      .body_b{
        width: 40%;
        padding: 15px;
        margin: 0px auto;
      }