.profile_block{
    display: flex;
   align-items: center;
   width: 1440px;
    margin: 0px auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.profile_block2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 35px;
}
.banner-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
 ;
}
.sub-img{
  height: 50px;
  width: 150px;
}
.banner-list{
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 3
}
.banner_edit_button{
  position: absolute;
  top: 110px;
  left: 60px;
  background-color: dimgray;
}
.profile_name{
    margin-left: 275px;
}
.name{
    font-size: 24px;
}
.town{
    color: grey;
}
.profile_button{
    font-size:15px;
    background-image: linear-gradient(to right, #dc2430, #7b4397 40%  );
    margin: 10px 0px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    width: 100%;
    border: none;
  }
 
  .nav_bar{

   border-bottom: 1px solid darkgray;
   width: 1440px;
    margin: 0px auto;
  }
  .sub_nav_bar{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 14px 0px;
    font-weight: bold;
   
   
  }
  .video-text{
   font-weight: normal;
   cursor: pointer;
   
   
  }
  
  .vid{
border-radius: 10px;
width :450px ;
height: 250px;

  }
  .video_block{
    width: 1440px;
    margin: 0px auto;
    margin-top: 20px;
 font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
  }
  .banner-img{
    height: 250px;
    width: 100%;
    border-radius: 15px;
  }
  .profile-img{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    border: 3px solid white;
    position: absolute;
    top: -60px;
    left: 60px;
}
  
  .banner-block{
    margin: 0px auto;
    width: 1440px;
  }